.filters mat-slider, .filters mat-form-field{
  width: 300px;
}

.filters .labelSlider{
  font-size: 0.8em;
  font-style: italic;
}

.mat-row {
  transition: background-color 0.3s ease;
  &hover{
    background-color: #abc7ff;
  }
}

.row-done{
   background-color: #005cbb;
   color: #FFFFFF;
}